# Application Settings
APP_NAME=Lerama
APP_URL=http://localhost:8000
APP_ENV=development
APP_DEBUG=true

# Database Settings
DB_HOST=localhost
DB_NAME=lerama
DB_USER=root
DB_PASS=
DB_PORT=3306

# Admin Settings
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

# Feed Settings
FEED_FETCH_INTERVAL=3600 # in seconds
FEED_ITEMS_PER_PAGE=20