services:
  lerama:
    image: ghcr.io/manualdousuario/lerama:2
    container_name: lerama
    environment:
      TZ: ${TZ:-UTC}
      APP_URL: https://lerama.lab
      LERAMA_DB_HOST: localhost
      LERAMA_DB_PORT: 3306
      LERAMA_DB_NAME: lerama
      LERAMA_DB_USER: root
      LERAMA_DB_PASS: root
      ADMIN_USERNAME: admin
      ADMIN_PASSWORD: admin
      ADMIN_EMAIL: 
      ADD_BLOG_LINK: https:// # optional
      PROXY_LIST: # optional
      SMTP_HOST: smtp.resend.com
      SMTP_PORT: 587
      SMTP_USERNAME: resend
      SMTP_PASSWORD: re_
      SMTP_SECURE: tls
      SMTP_FROM_EMAIL: lerama@lerama.lab
      SMTP_FROM_NAME: Lerama
    ports:
      - 8077:8077
    volumes:
      - ./lerama/storage:/app/public/storage
    restart: unless-stopped
    networks:
      - lerama
    depends_on:
      - db
  db:
    image: mariadb:10.11
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: SENHA_ROOT
      MYSQL_DATABASE: BANCO_DE_DADOS
      MYSQL_USER: USUARIO
      MYSQL_PASSWORD: SENHA
    ports:
      - 3306:3306
    volumes:
      - ./mariadb/data:/var/lib/mysql
    networks:
      - lerama
networks:
  lerama:
    driver: bridge